---
import type { Product } from '../utils/getProducts';

interface Props {
  products: Partial<Product>[];
  title?: string;
  buttontoall?: string;
  limit?: number;
}
const props = Astro.props as Props;
const { products, title = '', buttontoall = '', limit = products.length } = props;
---

<nav class="mainnav">
  {title && <h1 class="Zagolovok">{title}</h1>}
  
  <nav class="nav_card_cont">
    {products.slice(0, limit).map(product => (
      <div 
        class="card_container cursor-pointer hover:scale-105 transition"
        data-name={product.name}
        data-image={product.image}
        data-availability={product.availability} 
        data-description={product.description}
        data-storage={JSON.stringify(product.storage || {})}
        data-nutritional={JSON.stringify(product.nutritional_value_per_100g || {})}
        onclick="openModal(this)"
      >
        <img class="img_prod" src={product.image} alt={product.name} />
        <div class="overlay"></div>
        <p class="prod_name">{product.name}</p>
      </div>
    ))}
  </nav>

  {buttontoall && <a href="/catalog" class="buttontoall">{buttontoall}</a>}
</nav>

<!-- Модальное окно -->
<div id="myModal" class=" fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg shadow-lg max-w-4xl w-full p-6 relative">
    <button id="closeModalBtn" class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl">&times;</button>
    <h2 id="modalTitle" class="text-xl font-semibold mb-4">Заголовок</h2>
    <img id="modalImage" class="w-60 max-h-60 object-cover rounded mb-4 m-auto" />
    <p id="available" class="text-xl font-semibold mb-4"></p>
    <p id="description" class="text-xl mb-4"></p>

    <p id="storageShelfLife"></p>
    <p id="storageConditions"></p>

    <div class="flex bg-gray-300 rounded-lg items-center justify-center ">
      <div>
        <p>Белки</p>
        <p id="prot"></p>
      </div>

      <div>
        <p>Жиры</p>
        <p id="fat"></p>
      </div>

      <div>
        <p>Углеводы</p>
        <p id="ugli"></p>
      </div>

      <div>
        <p>Эн.ценность</p>
        <p id="kcal"></p>
      </div>
    </div>

    <button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" onclick="closeModal()">Закрыть</button>
  </div>
</div>

<!-- Подключение скрипта -->
<script src="./scripts/modal.js" defer></script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

  .mainnav {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .Zagolovok {
    font-size: 75px;
  }
  .nav_card_cont {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .card_container {
    display: flex;
    flex-flow: column;
    flex: 1 1 40%;
    max-width: 305px;
    height: 300px;
    margin: 10px;
  }
  .img_prod {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  .buttontoall {
    display: flex;
    background-color: rgb(224, 155, 65);
    color: white;
    font-size: 30px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border-radius: 10px;
  }

  @media (max-width: 1440px) {
    .card_container {
      max-width: 250px;
    }
  }
  @media (max-width: 768px) {
    .Zagolovok {
      font-size: 35px;
    }
  }
</style>
